.ticket-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.ticket-card {
    background: #4cc7be;
    width: 100%;
    max-width: 420px;
    min-height: 650px;
    border-radius: 24px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    text-transform: lowercase;
}

.date-time {
    text-align: right;
    font-size: 14px;
}

/* Content */
.ticket-content {
    margin-top: 30px;
}

.ticket-section {
    margin-bottom: 25px;
}

.label {
    font-size: 12px;
    letter-spacing: 1px;
    opacity: 0.8;
}

.ticket-section h3 {
    font-size: 22px;
    font-weight: 500;
}

.ticket-section h4 {
    font-size: 18px;
    font-weight: 400;
}

/* QR */
.ticket-qr {
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    margin-top: auto;
}

.ticket-qr img {
    width: 160px;
    height: 160px;
}

.ticket-id {
    color: black;
    margin-top: 8px;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 480px) {
    .ticket-card {
        min-height: auto;
    }

    .ticket-section h3 {
        font-size: 18px;
    }
}
